<h1> 
	<%= @article.title %>
</h1>

<p> 
	<%= @article.text %>
</p>
<p>
	<%= link_to 'Back', articles_path %>
</p>


<h2> Comments </h2>
<% @article.comments.each do |comment| %>

	<p>
		<i> <%= comment.user.username %> said: </i> <br />
    <i> <%= comment.body %> </i>
	</p>

<% end %>


<h2> Add comment </h2>
<p>
<%= form_for([@article, @article.comments.build]) do |f| %>

	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>
